/* Use your own code or past solution for Great Idea Web Page CSS here! */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
	box-sizing:border-box;
  	padding:0;
 	margin:0;
	max-width: 100%;
}


.container {
	border: 1px white solid;
	
}

.top {
    border: 4px white solid;
    display: flex;
	justify-content: center;
	align-items: center;
}


.top .navigation {
	border: 1px white solid;
	width: 60%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: right;
}

.top .navigation nav {
	border: 1px white solid;
	display: flex;
	justify-content: flex-start;
    width: 100%;

	
}

.top nav a {
  	color: gray;
	text-decoration: none;
	border: white 1px solid;
	width:70%;
}

.greatidea {
	display: flex;
	justify-content: flex-start;
	border: 3px white solid;
    width:15%;
}

.logo {
	border: 1px white solid;
}

.titlehead {
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 1% 0;
    width: 100%;
}

.innovation {
	width: 40%;
	font-size: 500%;
	border:  1px white solid;
	text-align: center;
}

.innovation button {
    border: 1px black solid;
    width: 40%;
    font-size: 25%;
    background-color: white;
}


.img {	
	border: 1px white solid;
    width: 40%;	
    display: flex;
    justify-content: center;
}

.body {
	font-size: 18px;
    padding: 1% 16%;
    border: 1px white solid;	
}

.body .toptext {
	border: 1px white solid;
	display: flex;
    justify-content: space-between;
    border-top: 2px gray solid;
    padding: 2%;
}

.bodyimg {
	border: 3px white solid;	
}

.middle-img {
	width: 100%;
}

.bottomtext {
	border: 1px white solid;
	display: flex;
    justify-content: space-between;
    padding:2%;
    width: 100%;
}

.service {
    padding: 0 1% 0 0;
}

.product {
    padding: 0 1%;
}


footer {
	width: 100%;
	font-size: 18px;
	border: 1px white solid;
	padding: 1%;
	display: flex;
	justify-content: center;	
}

footer .info1 {
	width: 94%;
    border: 1px white solid;
    border-top: 2px gray solid;
    padding: 1% 2%;
}

.copy p {
	text-align: center;
}

/*this is the services page*/

.topimg {
    width: 100%;
    border: 3px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.topimg img {
    width: 80%;
    border: 3px white solid;
    padding: 1% 6%;
}

.services {
	padding: 1% 6%;
    border-bottom: 1px solid gray;
    border: 3px white solid;
    width: 80%;
}

.services h1 {
	font-size: 200%;
}

.services p {
    font-size: 18px;
    border-bottom: 2px gray solid;
    padding: 0 0 3% 0;
}

.body1 {
	font-size: 18px;
	padding: 1% 14%;
    border: 3px white solid;
}	

.pair {
	border: 1px white solid;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;	
}

.single {
	width: 45%;
	border: 1px black solid;
	background-color: #C0C0C0;
	margin: 2%;
	padding: 4%;
}

.single p {
    padding: 0 0 2% 0;
}

.single button {
    border: 1px black solid;
    width: 35%;
    padding: 1% 0;
}

footer {
    border: 1px white solid;
    font-size: 18px;
	padding: 1% 14%;
}

.footer1 {
	border: 1px white solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 95%;
    border-top: 2px gray solid;
}

.facts {
	border: 1px white solid;	
	padding: 0 4% 0 1%;
    width: 50%;
    
}

.list {
    border: 1px white solid;
    padding: 1%;
}

.list ul {
    list-style-type: square;
    padding: 2% 4%;
}

.bottomimg {
	padding: 1%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.bottomimg img {
    width: 95%;
}

/* media queries */

@media (max-width: 800px) {
    /* index.html */

    .titlehead {
        flex-direction: column;
    }

    .innovation {
        padding: 0 0 4% 0;
    }

    .innovation button {
        border: 1px black solid;
        width: 55%;
        font-size: 25%;
        background-color: white;
    }

    .img {
        display: none;
    }

    

    /* services html */
    .single button {
        border: 1px black solid;
        width: 60%;
        padding: 1% 0;
    }

    
}

@media (max-width: 500px) {
    /* general */
    .top {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        border: 2px white solid;
    }

    .navigation {
        width: 100%;
    }

    .navigation nav {
        flex-direction: column;
        width: 100%; 
    }

    .navigation nav a {
        border-bottom: 1px black solid;
        color: gray;
        font-size: 120%;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2% 0;
    }

    .greatidea {
        width: 100%;
        justify-content: center;
        border: 1px white solid;
    }

    /* index.html */

    .titlehead {
        border: 1px white solid;
    }

    .innovation {
        border: 1px white solid;
        width: 100%;
    }

    .innovation button {
        border: 1px black solid;
        width: 35%;
        font-size: 25%;
        background-color: white;
    }

    .toptext {
        flex-direction: column;
    }

    .bottomtext {
        flex-direction: column;
    }

    /* services.html */

    .pair {
        flex-direction: column;
    }

    .single {
        width: 100%;
    }

    .single button {
        border: 1px black solid;
        width: 40%;
        padding: 1% 0;
    }

    .footer1 {
        flex-direction: column;
    }

    .facts {
        width: 100%;
        padding: 3% 0 0 0;
    }

    .bottomimg {
        width: 100%;
    }


}